* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/*HEADER*/
header {
    border-bottom: 1px solid gray;
}
.logo-navi-con {
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:1.51.5rem 0;
}

.logo {
    font-size: 1.6rem;
    font-weight:bold;
    color:bisque;
}
nav ul {
    list-style:none;
    display:flex;
    gap:1.5rem;
}